use flake

export HCLOUD_TOKEN=$(pass show cloud/hetzner)
export TF_VAR_hcloud_token="$HCLOUD_TOKEN"
export TF_VAR_ssh_public_key="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDxGPJr0yZ9d+SOYqmEBP2GPejrfbAc45Ijsvk3PWYEP mrzelee404@gmail.com"
export TF_VAR_cloudflare_api_token=$(pass show cloud/cloudflare)
export TF_VAR_cloudflare_zone_id=$(pass show cloud/cloudflare/zone_id)